@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

li {
  list-style-type: none;
}

html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  outline: none;
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  width: 1400px;
  background-color: #f9fbff;
}

h1 {
  font-size: 54px;
  font-family: "Montserrat";
  color: #415167;
  line-height: 70px;
}

h2 {
  font-size: 30px;
  font-family: "Montserrat";
  color: #415167;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  font-family: "Nunito";
  color: #151d28;
  line-height: 24px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-family: "Nunito";
  color: #415167;
  font-weight: 600;
}

.h4--accent-color {
  color: #c7a17a;
}

.h4--title-mb {
  margin-bottom: 6px;
}

.text {
  font-size: 16px;
  font-family: "Nunito";
  line-height: 22px;
  letter-spacing: 1px;
}

.text--fw {
  font-weight: 700;
}

.link {
  display: inline-block;
  font-size: 16px;
  font-family: "Nunito";
  color: #edf0f5;
  text-decoration: none;
}

.link--primary-color {
  color: #415167;
  font-weight: 700;
  padding-top: 2px;
}

.link:focus {
  font-weight: bold;
}

.link_primary-color {
  color: #415167;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  height: 768px;
}

/* LEFT CONTAINER */
.left-container {
  width: 436px;
  height: 768px;
}

.left-container__inner {
  width: 248px;
  height: 628px;
  padding: 76px 0 64px 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__h1 {
  padding-left: 7px;
  z-index: 1;
}

.logo {
  width: 109px;
  height: 36px;
}

.accent-text {
  position: relative;
  right: 15px;
  padding: 0 15px;
  color: #fff;
  background-color: #c7a17a;
}

/* MID CONTAINER */
.mid-container {
  position: relative;
  width: 690px;
  height: 768px;
}

.video {
  background-color: #151d28;
}

.play-button {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  top: 46%;
  right: 46%;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.play-button__triangle {
  width: 0;
  height: 0;
  margin-left: 24px;
  border-style: solid;
  border-width: 7px 0 7px 12px;
  border-color: transparent transparent transparent #c7a17a;
  z-index: 2;
}

/* RIGHT CONTAINER */
.right-container {
  width: 274px;
  height: 768px;
  background-color: #415167;
}

.right-container__inner {
  width: 140px;
  height: 431px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 76px 0 261px 57px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon {
  position: relative;
  color: #f9fbff;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.icon::before {
  content: "2";
  position: absolute;
  bottom: 11px;
  left: -11px;
  font-size: 14px;
  font-family: "Nunito";
  padding: 4px 0 0 6px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #c7a17a;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.nav {
  width: 141px;
  height: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* FEATURES */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1400px;
  height: 598px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  width: 1104px;
  height: 383px;
}

.title {
  text-align: center;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1104px;
  height: 247px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 226px;
  height: 247px;
}

.item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 226px;
  height: 106px;
}

/* SLIDER SECTION */
.slider-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1400px;
  height: 894px;
}

.slider-section__title {
  position: absolute;
  margin-top: 86px;
}

.slider-section__small-container {
  width: 384px;
  height: 894px;
  background-color: #415167;
}

.slider-section__big-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 1016px;
  height: 894px;
}

.slider-section__slider-container {
  margin: 202px -20px 108px -274px;
  padding: 20px;
  overflow: hidden;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 2327px;
  height: 544px;
}

.slider__card {
  margin-right: 29px;
  margin-bottom: 32px;
}

.next-button {
  position: absolute;
  left: 1147px;
  top: 248px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #c7a17a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.next-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.arrow {
  position: relative;
  left: 3px;
  top: -1px;
  height: 10px;
  width: 10px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow:before {
  position: absolute;
  content: "";
  left: -7px;
  top: 2px;
  width: 19px;
  height: 1px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  height: 256px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:nth-child(3),
.card:nth-child(7) {
  opacity: 0.5;
}

.card:nth-child(5),
.card:nth-child(8) {
  display: none;
}

.card:hover {
  position: relative;
  -webkit-box-shadow: 0px 0px 7px 7px rgba(190, 190, 190, 0.2);
  box-shadow: 0px 0px 7px 7px rgba(190, 190, 190, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card__container {
  width: 325px;
  height: 256px;
  background-color: #fff;
}

.card__img {
  width: 235px;
  height: 256px;
  background-color: #edf0f5;
}

.card__h4 {
  margin: 42px 0 0 45px;
}

.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 233px;
  height: 140px;
  margin: 8px 47px 42px 43px;
}

.card__link-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 244px;
  height: 32px;
}

.button {
  width: 134px;
  height: 32px;
  border-radius: 19px;
  font-size: 16px;
  font-family: "Nunito";
  color: #f9fbff;
  background-color: #c7a17a;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: rgba(199, 161, 122, 0.5);
}

/* GIFTSET SECTION */
.giftset-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1400px;
  height: 802px;
}

.giftset-section__title {
  position: absolute;
  margin-top: 86px;
}

.giftset-section__big-container {
  width: 1076px;
  height: 802px;
  background-color: #edf0f5;
}

.giftset-section__small-container {
  width: 324px;
  height: 802px;
  background-color: #f9fbff;
}

.giftset-section__inner {
  width: 1140px;
  height: 590px;
  margin: 216px 132px 126px 386px;
}

/* TAB CONTAINER */
.giftset-section__tab-container {
  margin-top: 68px;
}

.tab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 882px;
  height: 460px;
  background-color: #fff;
}

.tab__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 794px;
  height: 460px;
}

.tab__img {
  position: absolute;
  top: 52px;
  left: -258px;
  width: 463px;
  height: 416px;
}

.tab__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 435px;
  height: 332px;
  margin: 64px 61px 65px 299px;
}

.tab__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab__item {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 226px;
  height: 40px;
  padding-left: 52px;
  color: #415167;
  font-weight: 600;
}

.tab__item:nth-child(1):before {
  content: url(../sources/img/IC_coffee.png);
  position: absolute;
  left: 5px;
}

.tab__item:nth-child(2):before {
  content: url(../sources/img/IC_Mountain.png);
  position: absolute;
  left: 5px;
}

.tab__link-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 366px;
  height: 38px;
}

.tab__button-container {
  width: 88px;
  height: 459px;
}

.tab__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 30px;
  color: rgba(65, 81, 103, 0.5);
  width: 88px;
  height: 154px;
  background-color: #edf0f5;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.tab__button:focus {
  color: #415167;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* BIG-SLIDER-SECTION */
.big-slider-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  height: 906px;
  overflow: hidden;
}

.big-slider-section__title {
  position: absolute;
  margin: 88px 560px 0 550px;
}

.big-slider-section__big-container {
  width: 1074px;
  height: 906px;
}

.big-slider-section__small-container {
  width: 326px;
  height: 906px;
  background-color: #415167;
}

.big-slider-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  height: 690px;
  margin: 216px 0 0 128px;
}

.big-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2310px;
  height: 562px;
}

.big-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 562px;
  z-index: 1;
  background-color: #fff;
}

.big-card__h4 {
  position: relative;
  height: 22px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.big-card__h4:nth-child(1)::after {
  content: "155.000";
  position: absolute;
  left: 95px;
  top: 5px;
  font-size: 14px;
  color: #415167;
  text-decoration: line-through;
}

.big-card__h4:nth-child(2)::after {
  content: "165.000";
  position: absolute;
  left: 95px;
  top: 4px;
  font-size: 14px;
  color: #415167;
  text-decoration: line-through;
}

.big-card__h4:nth-child(3)::after {
  content: "260.000";
  position: absolute;
  left: 95px;
  top: 4px;
  font-size: 14px;
  color: #415167;
  text-decoration: line-through;
}

.big-card__h4:nth-child(4)::after {
  content: "155.000";
  position: absolute;
  left: 95px;
  top: 4px;
  font-size: 14px;
  color: #415167;
  text-decoration: line-through;
}

.big-card__h4:nth-child(5)::after {
  content: "165.000";
  position: absolute;
  left: 95px;
  top: 4px;
  font-size: 14px;
  color: #415167;
  text-decoration: line-through;
}

.big-card__h4:nth-child(6)::after {
  content: "260.000";
  position: absolute;
  left: 95px;
  top: 4px;
  font-size: 14px;
  color: #415167;
  text-decoration: line-through;
}

.big-card:nth-child(4),
.big-card:nth-child(5),
.big-card:nth-child(6) {
  opacity: 0.5;
}

.big-card__img {
  width: 360px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #edf0f5;
}

.big-card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 281px;
  height: 114px;
  margin: 42px 0 32px 0;
}

.big-card__link-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 265px;
  height: 32px;
}

/* FOOTER */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1400px;
  height: 60px;
}

.footer__text {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
  margin: 18px 0 20px 0;
}
/*# sourceMappingURL=style.css.map */